.cdx-alert-coursive {
  position: relative;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  color: #242424;
}

.cdx-alert__message {
  outline: none;
}

.cdx-alert-coursive [contentEditable='true'][data-placeholder]::before {
  position: absolute;
  content: attr(data-placeholder);
  color: #b9b9b9;
  font-weight: normal;
  opacity: 0;
}

.cdx-alert-coursive [contentEditable='true'][data-placeholder]:empty::before {
  opacity: 1;
}

.cdx-alert-coursive
  [contentEditable='true'][data-placeholder]:empty:focus::before {
  opacity: 0;
}

.cdx-alert-coursive-info {
  background-color: #eff0f1;
}

.cdx-alert-coursive-danger {
  background-color: #ecd7e3;
}

.cdx-alert-coursive-warning {
  background-color: #f5eedc;
}

.cdx-alert-coursive-success {
  background-color: #ebf3da;
}

.cdx-alert-coursive.cdx-settings-button {
  margin: 3px;
  width: 28px;
  height: 28px;
  opacity: 0.5;
}

.cdx-alert-coursive.cdx-settings-button:hover {
  opacity: 1;
}

.cdx-alert-coursive.cdx-settings-button--active,
.cdx-alert-coursive.ce-settings__button--focused {
  font-weight: bold;
  opacity: 0.9;
}
